html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
a,
abbr,
address,
acronym,
p,
blockquote,
cite,
q,
pre,
code,
ins,
kbd,
samp,
var,
dfn,
tt,
strong,
b,
u,
em,
i,
del,
sub,
sup,
big,
small,
img,
audio,
video,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-family: inherit;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
