---
import Row from "./Row.astro";

const today = new Date();
---

<footer class="site-footer">
  <Row padding={"px-0 pt-400 mt-600 pb-600 bts-1px"}>
    <p class="m-0 text-size-100 leading-slim">
      &#169; 2012-2022 W3Bits<br />All rights are reserved by the owner
    </p>
    <nav class="footer-nav text-size-100">
      <ul
        id="menu-footer-menu"
        class="list list--nav list--inline text-sm gap-lg"
      >
        <li
          id="menu-item-735"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-735"
        >
          <a
            title="Privacy Document"
            rel="nofollow"
            href="http://w3bits.com/privacy/">Privacy</a
          >
        </li>
        <li
          id="menu-item-736"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-736"
        >
          <a title="Contact us" rel="nofollow" href="http://w3bits.com/contact/"
            >Contact</a
          >
        </li>
        <li
          id="menu-item-2967"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2967"
        >
          <a href="http://w3bits.com/advertise/">Advertise</a>
        </li>
      </ul>
    </nav>
  </Row><!-- .site-section-inner -->
</footer>
