---
import Icon from "./Icon.astro";
---

<nav class="main-nav none">
  <ul class="list list--nav list--inline items-center">
    <li>
      <a class="active" title="Explore the Blog" href="/blog/">Guides</a>
    </li>
    <li>
      <a title="Collection of all our demos" href="/labs/">Tools</a>
    </li>
    <li>
      <a
        class="item-bubble"
        data-bubble="New"
        title="Search the site"
        href="/search/">Templates</a
      >
    </li>
  </ul>
</nav>
