---
import Widget from "./Widget.astro";
---

<aside class="sidebar w-sidebar pt-700 flex-grow-1">
  <Widget classes={"br-4px"}>
    <img src="https://cdn4.buysellads.net/uu/1/127419/1670532337-Stock2.jpg" />
    <div
      style="padding: 1em; background: white; line-height: 130%; font-size: 90%"
    >
      Get 10 Free Images From Adobe Stock. Start Now.
    </div>
  </Widget>
</aside>
